name: Build and deploy Node.js app to Azure Web App - hello-world-app-to-delete
 
 
on:
  push:
    branches:
      - main
 
 
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
 
 
    steps:
    - uses: actions/checkout@main
 
 
    - name: Set up Node.js version
      uses: actions/setup-node@v1
      with:
        node-version: '18.x'
 
 
    - name: npm install, build, and test
      run: |
        npm install
        npm run build --prod
 
 
    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'movieticket-ui'
        publish-profile: ${{secrets.AZURE_WEBAPP_PUBLISH_PROFILE}}
        package: ./dist/moviebookingapp
